<form action="/telemetrias/editar/" method="POST">
    <input name="id" type="number" value='<%=lista.id%>'>
    <input name="data" type="date" value='<%=lista.data%>'>
    <input name="temperatura" type="number" value='<%=lista.temperatura%>'>
    <input name="pressao" type="number" value='<%=lista.pressao%>'>
    <input type="submit" value="GRAVAR">
</form>