<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<title>Início</title>
    	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Allura|Raleway" rel="stylesheet">
    	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    	<link rel="stylesheet" href="lib/css/main.css">
    	<link rel="stylesheet" href="lib/css/home.css">
    	</head>
    <body>
		<header>
			<nav>
				<a href="#">Home</a>
				<a href="/telemetrias">Telemetrias</a>
			</nav>
		</header>
    	<main>
    		<div class="container">
    			<div class="row">
        			<section class="col col-12 principal">
        				<div class="card">
        					<div class="card-body">
        						<canvas id="line-chart-principal" height="80px"></canvas>
        					</div>
        				</div>
        			</section>
    			</div>
    			<div class="row">
    				<section class="col col-3 secundario">
    					<div class="card">
        					<div class="card-body">
        						<canvas id="grafico-secundario-1" height="280"></canvas>
        					</div>
        				</div>
    				</section>
    				<section class="col col-3 secundario">
    					<div class="card">
        					<div class="card-body">
        						<canvas id="grafico-secundario-2" height="280px"></canvas>
        					</div>
        				</div>
    				</section>
    				<section class="col col-3 secundario">
    					<div class="card">
        					<div class="card-body">
        						<canvas id="grafico-secundario-3" height="60px"></canvas>
        					</div>
        				</div>
    				</section>
    				<section class="col col-3 secundario">
    					<div class="card">
        					<div class="card-body">
        						<canvas id="grafico-secundario-4" height="60px"></canvas>
        					</div>
        				</div>
    				</section>
    			</div>
    		</div>
    	</main>
    </body>

	<script type="text/javascript" src="chart.js/dist/Chart.min.js"></script>
	<script src="lib/js/functions.js"></script>
	<script>
		var canvas;
		sendRequest('GET', '/telemetrias', {}, function(retorno){
			var data = {
				type: 'line',
				data: {
					labels: [],
					datasets: [{
						label: 'Temperatura',
						data: [],
						borderWidth: 2,
						borderColor: 'rgba(77,166,253,0.85)',
						backgroundColor: 'transparent'
					}]
				}
			};
			for(var i = 0; i < retorno.length; i++){
				data.data.labels.push(retorno[i].data);
				data.data.datasets[0].data.push(retorno[i].temperatura);
			}
			var chart = new Chart(canvas, data);
		});

		window.onload = function(){
			canvas = document.querySelector('#line-chart-principal');
		}
	</script>
    <!-- <script type="text/javascript" src="lib/js/busca-telemetrias.js"></script>
    <script type="text/javascript" src="lib/js/grafico-principal.js"></script>
    <script type="text/javascript" src="lib/js/graficos-secundarios.js"></script> -->
</html>