<html>
    <head>
        <title>Página Inicial</title>
    </head>
    <body>
        <h1>Página de Login</h1>
        <form action="/" method="POST">
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">
            <input type="submit" value="Acessar">
        </form>
    </body>
</html>