<h1>Olรก</h1>
<form ref='uploadForm' id='uploadForm' method='post' 
      encType="multipart/form-data" 
      action="/produto/cadastro" 
      method="POST">
    <input type="file" name="file">
    <input type="submit" value="send">
</form>