<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Telemetrias</title>
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/css/main.css">
        <link rel="stylesheet" href="lib/css/telemetrias.css">
        <link rel="stylesheet" href="lib/css/menu.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    </head>

    <body class="bg-white">
        <nav class="navbar navbar-expand-lg menu shadow bg-topo">
            <div class="container">

                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">Home</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/telemetrias">Telemetrias</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro">Cadastro</a>
                    </li>
                </ul>

                <ul class="navbar-nav">


                    <li>
                        <a class="nav-link" href="/">
                            <i class="material-icons">search</i>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="/">
                            <i class="material-icons">settings</i>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="/">
                            <i class="material-icons">more</i>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="/">
                            <i class="material-icons">thumb_up</i>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <img class="rounded avatar" src="lib/img/perfil.jpg" alt="avatar">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/editar/perfil">Meu perfil</a>
                            <a class="dropdown-item" href="/logout">Sair</a>
                        </div>

                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron cabecalho bg-topo" id="app">
            <div class="container">
                <h1 class="display-4 text-light">{{titulo}}</h1>
                <div id="cadastra-telemetria">

                    <form id="form-cadastro-telemetria" action="/telemetrias/cadastro" method="POST" onsubmit="telemetria.adiciona(event)" >
                        <div class="row">
                            <div class="form-group col">

                                <input class="form-control" type="date" name="data" id="data">

                            </div>
                            <div class="form-group col">
                                <input class="form-control" type="number" name="temperatura" placeholder="Temperatura" id="temperatura">
                            </div>
                            <div class="form-group col">
                                <input class="form-control" type="number" name="pressao" placeholder="Pressão" id="pressao">
                            </div>

                            <div class="form-group col">
                                <input class="btn btn-primary form-control" type="submit" value="Salvar" >
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <table class="table table-striped table-bordered table-borderless shadow-lg tabela-telemetrias">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Temperatura</th>
                        <th>Pressão</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <corpo-tabela 
                        v-for="telemetria in listaDeTelemetrias"
                        v-bind:todo="telemetria"
                        v-bind:key="telemetria.id">
                        
                    </corpo-tabela>
                </tbody>
            </table>
        </div>


    </body>
    <script src="lib/js/models/requisicaoLogin.js"></script>
    <script src="lib/js/models/Telemetria.js"></script>
    <script src="lib/js/controllers/TelemetriasController.js"></script>
    <script src="lib/js/models/ListaTelemetrias.js"></script>
    <script src="lib/js/views/TelemetriasView.js"></script>
    
    <!-- Meu deus vamos organizar essa bagaça!!!
        Aqui estou instanciando minha classe controller de telemetrias... com a implementação do vue.js vou capar fora-->
    <script>
        let telemetria = new TelemetriasController();
    </script>

    <!--Aqui estou importando arquivos importantes do bootstrap para fazer os menus dropdown-->
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


     <!--Aqui estou instanciando o vue e fazendo as definições iniciais-->

    <script type="text/javascript">
        let req = new XMLHttpRequest();
        req.open('GET', '/telemetrias', true);
        req.setRequestHeader('Accept', 'application/json');
        req.send();
        req.onreadystatechange = function(){
        if(req.readyState === 4){
            //console.log(req.response);
        }}

        req.onload = function(){
            console.log(req.response);

        }
        
        
        Vue.component('corpo-tabela', {
            props: ['telemetria'],
            template: '<tr>' +
            
            '<td>{{ telemetria.id }}</td>' +
            '<td>{{ telemetria.data }}</td>' +
            '<td>{{ telemetria.temperatura }}</td>' +
            '<td>{{ telemetria.pressao }}</td>' +

            '</tr>'
        })

        var app = new Vue(
            {
            el: '#app',
            data: {
                titulo: 'BAH',
                listaDeTelemetrias: telemetriasParseado
            }
        });

    </script>

    <!-- Aqui diegão meteu o loko-->

    <script>
        window.onload = function(){

            let excluirTelmetria = document.querySelector('#excluir-telemetria');
            console.log(excluirTelmetria);
            let telemetria = {
                id: excluirTelmetria.dataset.telemetria
            }
            let json = JSON.stringify(telemetria);
            excluirTelmetria.addEventListener('click', function(evt){
                evt.preventDefault();
<<<<<<< HEAD

                let elemento = this;
                let id = {
                    id : elemento.dataset.telemetria
=======
                let req = new XMLHttpRequest();
                req.open('DELETE', '/telemetrias/excluir', true);
                req.setRequestHeader('Content-Type', 'application/json');
                req.setRequestHeader('Accept', 'text/html');

                req.send(json);
                req.onreadystatechange = function(){
                    if(req.readyState === 4){
                        console.log(req.response);
                    }
>>>>>>> 72a37937f4440e426729658a0d3f9840ca4fbf37
                }
                let xhr = new XMLHttpRequest();
                xhr.open('DELETE', '/telemetrias/excluir');
                xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
                xhr.setRequestHeader('Accept', 'text/html');
                
                xhr.onload = function(){
                    let retorno = JSON.parse(xhr.response);
                    console.log(retorno);
                    if(retorno.status){
                        if (elemento.parentNode) {
                            console.log('eita nois');
                            let pai = elemento.parentNode.parentNode.parentNode;
                            pai.removeChild(elemento);
                        }

                    }
                };
                xhr.onerror = function(){
                    console.log('ERROOSS');
                }
                // idTelemetria = JSON.parse(idTelemetria);
                // console.log(idTelemetria);
                // sendRequest('DELETE', '/telemetrias/excluir/', idTelemetria, function(retorno){
                //     console.log('Teste');
                //     console.log(retorno);
                // });
            });
            let form = document.getElementById('form-cadastro-telemetria');

            form.addEventListener('submit', function(evt){
                evt.preventDefault();
                sendRequest('POST', '/telemetrias/cadastro', form, function(retorno){
                    console.log('Teste');
                    console.log(retorno);
                });
            });
        }
        $('.dropdown-toggle').dropdown();
    </script>
</html>
