<h1>Telemetrias</h1>
<div id="cadastra-telemetria">
    <form action="/telemetrias"  id="form-cadastro-telemetria">
        <input type="text" name="data" placeholder="Data">
        <input type="text" name="temperatura" placeholder="Temperatura">
        <input type="text" name="pressao" placeholder="Pressão">
        <input type="submit" value="Salvar">
    </form>
</div>
<table>
    <tr>
        <td>ID</td>
        <td>Data</td>
        <td>Temperatura</td>
        <td>Pressão</td>
    </tr>
    <%for (var i = 0; i < lista.length; i++){%>
        <tr>
            <!--tem que ter o = na frente: '=' = print -->
            <td><%=lista[i].id%></td>
            <td><%=lista[i].data%></td>
            <td><%=lista[i].temperatura%></td>
            <td><%=lista[i].pressao%></td>
        </tr>
    <%}%>
</table>